.donation {
  width: 400px;
  background-color: whitesmoke;
  color: #282c34;
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.amount {
  font-size: 1rem;
}
