@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@400;700&family=Lato:ital,wght@0,400;0,700;1,400&display=swap");

body {
  background-color: #f5eeeb;
}

.loadingGif {
  position: relative;
  width: 80px;
  height: 80px;
}
.loadingGif div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.loadingGif div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.loadingGif div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.loadingGif div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}
.donateIntent {
  display: none;
}

.donateIntent.showing {
  display: block;
}
